<div class="footer__copyright">
	<p>
		&copy;
		{{ 'now' | date('Y') }}
		Lunatecs. Made with â¤ by
		<a href="https://github.com/RHartman99" target="_blank">Ryan Hartman</a>
		in New Jersey.
	</p>
</div>
