<form class="footer__form" data-controller="form">
	<div class="footer__form--row sm fade-up">
		<label for="name">Name *</label>
		<input type="text" name="name" id="name"/>
	</div>
	<div class="footer__form--row sm fade-up">
		<label for="phone">Phone *</label>
		<input type="tel" name="phone" id="phone"/>
	</div>
	<div class="footer__form--row sm fade-up">
		<label for="email">Email *</label>
		<input type="email" name="email" id="email"/>
	</div>
	<div class="footer__form--row fade-up">
		<label for="message">Message *</label>
		<textarea name="message" id="message"></textarea>
	</div>
	<div class="footer__form--row select fade-up"></div>
	<div class="footer__form--row submit fade-up">
		<button data-action="click->form#submit" class="button square">SUBMIT</button>
	</div>
</form>
