<footer class="footer">
	<p class="footer__title fade-up">CONTACT
		<span>US</span>
	</p>
	{% include "partials/footer--form.twig" %}
	{% include "partials/footer--location.twig" %}
	{% include "partials/footer--copyright.twig" %}
</footer>
