<section class="interested">
	<div class="interested__border"></div>
	<p class="fade-up">INTERESTED?</p>
	<a class="button square transparent fade-up" href="/contact">CONTACT US</a>
	<img class="interested__bg" src="{{ interested_bg.url }}" alt="Team picture"/>
</section>
