<article class="content__right-post">
  <header>
    <p>{{ post.title }}</p>
    <p>{{ post.date }}</p>
  </header>
  {% include "modules/social-buttons.twig" %}
  <div>
    <p>{{ post.content }}</p>
  </div>
</article>
