<article class="content__right-post">
  <header>
    <p>{{ post.title }}</p>
    <p>{{ post.date }}</p>
  </header>
  <div>
    <p>{{ post.content | excerpt(60)}}</p>
  </div>
  <a class="mt-4 block" href="{{ post.link }}">Read More</a>
</article>
