{% extends "layouts/inner.twig" %}
{% block content %}
  <section class="content inner">
    <aside class="content__left">
      {% include "partials/sidebar.twig" %}
    </aside>
    <div class="content__right">
      <article class="content__right-post">
        <h1>Error: Page does not exist.</h1>
      </article>
    </div>
  </section>
{% endblock content %}
